/**
 * Site header
 */
.header {
  padding-top: 10px;
  .logo-area {
    img {
      max-width:100%;
      height:auto;
    }
  }

  .site-links-area {
    ul > li {
      @include media-query($on-laptop) {
        float: left;
      }
      .icon-text {
        margin-bottom: 4px;
        font-size: $very-small-font-size;
      }
      .link-text {
        margin-left: 2px;
      }
    }
  }

  .lang-list-area {
    ul > li {
      &:first-child {
        margin-left: $spacing-unit;
        @include media-query($on-laptop) {
          margin-left: 0;
        }
      }
      background: -moz-linear-gradient($blue-color, $blue-color-dark);
      background: -webkit-linear-gradient($blue-color, $blue-color-dark);
      background: linear-gradient($blue-color, $blue-color-dark);
      border-left: none;
      border-radius: 0 0 10px 10px;
      border: solid 1px white;
      float: left;
      margin-top: -10px;
      -moz-border-radius: 0 0 10px 10px;
      -webkit-border-radius: 0 0 10px 10px;
      @include media-query($on-laptop) {
        margin-top: -20px;
      }
      a {
        color: white;
        display: block;
        font-size: $small-font-size;
        padding: ($spacing-unit/4) 0;
        text-align: center;
        width: 68px;
        &:hover {
          background-color: $blue-color-dark;
          text-decoration: none;
          border-radius: 0 0 10px 10px;
          -webkit-border-radius: 0 0 10px 10px;
          -moz-border-radius: 0 0 10px 10px;
        }
      }
    }
  }

  .search-box-area {
    clear: left;
    .search-box {
      margin-left: 20px;
      @include media-query($on-laptop) {
        margin-left: 0;
      }

      .text-box {
        border:solid 1px $blue-color-dark;
        font-size: $small-font-size;
        margin-top: 5px;
        padding: 5px;
        width: 233px;
      }
      .search-button {
        background-color: $blue-color;
        background: -moz-linear-gradient($blue-color, $blue-color-dark);
        background: -webkit-linear-gradient($blue-color, $blue-color-dark);
        background: linear-gradient($blue-color, $blue-color-dark);
        border: solid 1px $blue-color-dark;
        color: white;
        font-size: $small-font-size;
        margin-top: 5px;
        padding: 2.5px;
        position: absolute;
        &:hover {
          background: $blue-color-dark;
        }
      }
    }
  }
}

.header-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
}

.float--right {
  float: right;
}

.header-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.header-col-2 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .header-col-1,
  .header-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .header-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .header-col {
    float: left;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Site footer
 */
.begin-site-footer {
  border-bottom: 2px solid $blue-color;
}

.end-site-footer {
  border-bottom: 4px solid $blue-color;
}

.footer-links > ul > li {
  display: block;
  float: left;
  font-size: $very-small-font-size;
  border-right: 1.9px solid;
  padding: 0 $spacing-unit / 5;
  margin-bottom: $spacing-unit / 4;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }
}

.univ-info {
  margin-top: $spacing-unit;
  font-size: $very-small-font-size;
  .univ-name {
    font-weight: bold;
  }
}

.copy-right {
  color: $grey-color;
  font-size: $very-small-font-size;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  clear: left;
}

.footer-col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(61% - (#{$spacing-unit} / 2));
  width:         calc(61% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
  }
  .footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
