<div class="wrapper">
<div class="footer-links footer-col">
  <ul>
    <li><a href="/univ_info/index.html">大学情報</a></li>
    <li><a href="/facutly/index.html">学部・院等</a></li>
    <li><a href="/admission/index.html">入試情報</a></li>
    <li><a href="/research-study/index.html">教育・研究</a></li>
    <li><a href="/international/index.html">国際・留学</a></li>
    <li><a href="/coalition/index.html">社会連携</a></li>
    <li><a href="http://syusyoku.lab.u-ryukyu.ac.jp/">就職情報</a></li>
    <li><a href="/inter_link">研究室</a></li>
    <li><a href="/internal/index.html">学生情報</a></li>
  </ul>
</div>

<div class="footer-col begin-site-footer">
</div>

<div class="footer-links footer-col">
  <ul>
    <li><a href="">このサイトについて</a></li>
    <li><a href="">お問い合せ</a></li>
    <li><a href="">プライバシーポリシ</a></li>
  </ul>
</div>


<div class="footer-col">
  <div class="univ-info">
    <ul>
      <li class="univ-name">{{ site.univ_name }}</li>
      <li></a></li>
      <li>〒{{ site.postal_code }} / {{ site.address }}</li>
      <li>TEL: {{ site.tel }} / Mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>
  </div>
</div>

<div class="footer-col">
  <p class="copy-right">{{ site.copyright }}</p>
</div>

<div class="footer-col end-site-footer">
</div>
</div>
</div>
