<div class="wrapper">
<div class="header">
  <div class="logo-area header-col header-col-1">
    <img src="./img/logo.svg" onerror="this.src='./img/logo.png'" alt="琉大Logo" />
  </div>

  <div class="float--right header-col header-col-2 site-links-area">
    <div class="float--right">
      <div class="header-col">
        <ul>
          <li><p class="icon-text"><span class="icon-cab"><span><a class="link-text" href="">交通アクセス</a></span></p></li>
          <li><p class="icon-text"><span class="icon-pencil"></span><a class="link-text" href="">お問い合わせ</a></p></li>
          <li><p class="icon-text"><span class="icon-cloud"></span><a class="link-text" href="">サイトマップ</a></p></li>
        </ul>
      </div>

      <div class="header-col">
        <div class="lang-list-area">
          <ul>
            <li><a href="">日本語</a></li>
            <li><a href="http://www.u-ryukyu.ac.jp/en/index.html">English</a></li>
            <li><a href="http://www.u-ryukyu.ac.jp/cn/index.php">中文</a></li>
            <li><a href="http://www.u-ryukyu.ac.jp/kr/index.php">한국어</a></li>
          </ul>

          <div class="search-box-area">
            <form class="search-box" action="http://google.com/cse">
              <input class="text-box" type="hidden" name="cx" value="018320070600186071267:kt761j6j7ku">
              <input class="text-box" type="hidden" name="hl" value="ja">
              <input class="text-box" type="hidden" name="ie" value="UTF-8">
              <input class="text-box" type="hidden" name="oe" value="UTF-8">
              <input class="text-box" type="text" name="q" size="20" maxlength="256">
              <button class="search-button" type="submit" name="sa" value="検索"><i class="icon-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="site-nav">
    <div class="trigger">
      {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>
</div>
</div>
