<header class="header">

<div class="wrapper">

  

  <p class="icon--text"><span class="icon-cab"><span><a class="link-text" href="">交通アクセス</a></span></p>
  <p class="icon--text"><span class="icon-pencil"></span><a class="link-text" href="">お問い合わせ</a></p>
  <p class="icon--text"><span class="icon-cloud"></span><a class="link-text" href="">サイトマップ</a></p>

  <!--<i class="icon-left-open"></i>-->

  <nav class="site-nav">
    <div class="trigger">
      {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>

</div>

</header>
