<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/top-page.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/animation.css" | prepend: site.baseurl }}">
  <!--[if IE 7]><link rel="stylesheet" href="css/top-page-ie7.css"><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" type="text/css" href="css/slider-pro.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/jquery.fs.naver.min.css" media="screen" />
  <!--[if lt IE 9]>
  <script src="/js/respond.min.js"></script>
  <script src="/js/html5shiv.min.js"></script>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/jquery.sliderPro.min.js"></script>
  <script src="js/jquery.fs.naver.min.js"></script>

  <script>
    $( document ).ready(function( $ ) {
      $('#wide').sliderPro({
        width: 600,//横幅
        arrows: true,//左右の矢印
        buttons: true,//ナビゲーションボタンを出す
        slideDistance:0,//スライド同士の距離
        visibleSize: '100%',//前後のスライドを表示
      });
    });
  </script>
  <script>
    $(function() {
      $("#to-everyone-nav").naver({
        labels: {
          closed: "人のジャンルから探す",
          open: "閉じる"
        },
        maxWidth: "640px"
      });
    });
  </script>
  <script>
    $(function() {
      $("#info-nav").naver({
        labels: {
          closed: "情報のジャンルから探す",
          open: "閉じる"
        },
        maxWidth: "640px"
      });
    });
  </script>
</head>
